
@{
    ViewBag.Title = "Vue";
}
<main>
    <h2>Demo  Vue</h2>
    <div id="app">
        <my-component></my-component>
    </div>
</main>


@*
    vue3-sfc-loader 的用法
    參考 https://github.com/FranckFreiburger/vue3-sfc-loader/blob/main/docs/examples.md#a-more-complete-api-usage-example
*@

@section scripts {
    <script type="module">

        // 因為 dotNet 的 Scripts 裡不能包含 vue 檔，間接使用 js export 一個 string (Vue SFC)
        import { myComponentVue } from '../../Scripts/vue/myComponent.js'

        const options = {

            moduleCache: {
                vue: Vue,
            },

            async getFile(url) {
                if (url === '/myComponent.vue')
                    return Promise.resolve(myComponentVue); // 實際上只是回傳一個 string
            },

            addStyle(textContent) {
                const style = Object.assign(document.createElement('style'), { textContent });
                const ref = document.head.getElementsByTagName('style')[0] || null;
                document.head.insertBefore(style, ref);
            }
        }

        const { loadModule } = window['vue3-sfc-loader'];
        const myComponent = loadModule('/myComponent.vue', options); // Tony: 要加 .uve 才會生效

        const app = Vue.createApp({
            components: {
                'my-component': Vue.defineAsyncComponent(() => myComponent),
            },
        });

        app.mount('#app');
    </script>
}
